@font-face {
   font-family: '苏新诗柳楷简';
   font-display: swap;
   src: url('file:///C:/Users/Mr.Gent/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-03-17_102137/fonts/%E8%8B%8F%E6%96%B0%E8%AF%97%E6%9F%B3%E6%A5%B7%E7%AE%80/font.ttf');
}
